 /* colors */
 $color-primary:#264653;
 $color-secondary:#202020;
 $color-tertiary:#52b788;
 $color-box:#ffffff80;
 $text-color:white;

/* spacings */
$spacing-large:6em;
$spacing-medium:4rem;
$spacing-base:3rem;
$spacing-small:2rem;

/* font fasmily */
$font-primary:'Cardo', serif;
$font-secondary:'Roboto', sans-serif;

/* font sizes */
$font-large:9.0em;
$font-medium:4.2em;
$font-base:2.5em;
$font-small:1.8em;